 
.movie-filter-container{
 
  padding: 12px;

  .filter{
    
     .filter-label{
      color: white;
      font-size: 18px;
      font-weight: 700;
      padding-bottom: 5px;
    }
    .filter-textfield{
      background-color: white;
    }
  }
}

.movie-list{
  .category-header{
    display: flex;
    justify-content: space-between;

    .movie-list__title{
      color: #B1A21E;
      font-size: 25px;
      font-family: 'Mulish', Courier, monospace;
      font-weight: 700;
    }

    .movie-list__button{
      color: rgb(136, 136, 136);
      text-transform: none;
      font-size: 16px;
    }
  }

   
  .movie-list__item{
    .movie-list__item-content{
      .movie-list__item-image{
        width: 100%;
        height: 150%;
        object-fit: cover;
      }
      .movie-list__item-rating{
        display: flex;
        align-items: center;
        gap: 5px;
      }
      .movie-list__item-title{
        color:white;
      }
    }
  }
}
